body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
#title {
  background-color: #ff4c68;
}

p {
  color: #8f8f8f;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* Heading */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  line-height: 1.5;
  font-size: 2.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  padding: 0 0 30px 30px;
  margin-left: 30px;
}

/* Features Section */
.awesome-img {
  color: #ef8172;
  margin-bottom: 1rem;
}

.awesome-img:hover {
  color: #ff4c68;
}

/* Features */
#features {
  text-align: center;
  padding: 7% 10%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.features-box {
  padding: 4%;

}
.features-title {
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-text{
  line-height: 1.5;
  font-size: 2.5rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 30px 50px;
}

/* Prcing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  line-height: 1.5;
  font-size: 2.5rem;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
  #navbarSupportedContent {
    text-align: right;
  }
}
/* CTA section */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  text-align: center;
  padding: 3% 15%;
}

.footer-icon {
  margin: 4% 1% 2%;
}
